/.cache/hppydots/wallpaper_utils/*
.gtkrc-2.0
/.config/bashrc/custom/*
!/.config/bashrc/custom/USER_BASHRC_GO_HERE
.config/oh-my-posh/themes/dynamic_autogen.omp.json
.config/qutebrowser/autoconfig.yml
.config/hypr/custom/*
.config/qutebrowser/test.py
