@import "../../.cache/wal/colors-waybar.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}


window#waybar {

    color: @color6;
    transition-property: background-color;
    transition-duration: .5s;
    border:1px;
    background-color:transparent;

}
@define-color stichcolor lighter(@background);

window#waybar > box {
        background: repeating-linear-gradient(-45deg,alpha(@stichcolor,0.05) 0px,alpha(@stichcolor,0.05) 2px, transparent 2px, transparent 4px), 
        repeating-linear-gradient(45deg,alpha(@stichcolor,0.05) 0px,alpha(@stichcolor,0.05) 2px, transparent 2px, transparent 4px), 
        linear-gradient(45deg, 
        alpha(@color4,1) 20%,
        alpha(@color4,1) 20%, 
        alpha(@color5,1) 20%, 
        alpha(@color5,1) 22%, 
        alpha(@color6,1) 22%, 
        alpha(@color6,1) 24%,
        alpha(@color7,1) 24%,
        alpha(@color7,1) 26%
        );
            border-radius:2em;

    margin:4px 8px 8px 8px;
    box-shadow: 6px 6px 2px 2px @background;
    
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    color:black;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @color6;
    color:@foreground;
}

#workspaces {
    padding-left:40px;
}
#workspaces button {
    padding: 5px 5px;
    margin:10px 2px;
    background-color: alpha(@color7,1);
    color: @background;
    border-radius:2em;
    min-width:30px;
    min-height:30px;
    transition: min-width 0.2s;
  
}

#workspaces button:hover {
    padding: 5px 5px;
    margin:10px 1px;
    background-color: alpha(@color1,1);
    color: @foreground;
    border-radius:2em;
}

#workspaces button.focused {
    padding: 5px 5px;
    margin:10px 1px;
    background-color: @color1;
}
#workspaces button.active {
    padding: 5px 5px;
    margin:10px 1px;
    background-color: @color5;
    color:@color7;
    min-width:40px;
    transition: min-width 0.2s;

}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-tlp,
#custom-swaync,
#mpd {
    padding: 0 10px;
    color: @background;
    border-radius:1em;
    margin:2px 0px;
}

#window,
#workspaces {
    /*margin: 0 4px;*/
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
    margin-right:40px;
}

#clock:hover {
    background-color:@color6;
    color:@foreground;
}

#battery {
    background-color: transparent;
        color: @background;

}

#battery.charging, #battery.plugged {
        color: @background;

    background-color: transparent;
}

#battery:hover {
    background-color:@color6;
    color:@foreground;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
        color: @background;

    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
  
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
  
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
  
}

#custom-tlp:hover {
    color:@foreground;
    background-color:@color6;
}

#custom-swaync {
    padding-left:15px;
    padding-right:15px;
}
#custom-swaync:hover {
    color:@foreground;
    background-color:@color6;
}


label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
   
}

#memory {
    background-color: transparent;
}

#disk {
    background-color: #964B00;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: #f53c3c;
    border-radius:2em;
    margin:2px;
}

#network:hover {
    background-color:@color6;
    color:@foreground;
}

#pulseaudio {
    background-color: transparent;
  
}


#wireplumber {
    background-color: #fff0f5;
  
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: transparent;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


#mpd {
    background-color: #66cc99;
    
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

